server:
  port: 8080

spring:
  application:
    name: KotlinMultiSample

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info,metrics
